.cart-item-card {
	width: 100%;
	min-height: 9rem;
	height: 9rem;
	max-height: 9rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0.125rem 0;
	border-radius: 0.75rem;
	background-color: #f2f2f2;
}

.cart-item {
	border-radius: 0.75rem;
	align-items: center;
	width: 100%;
	height: 100%;
}

.cart-item-img-section {
	width: 100%;
	height: 100%;
	text-align: center;
}

.cart-item-img {
	border-top-left-radius: 0.75rem;
	border-bottom-left-radius: 0.75rem;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.cart-item-body-section {
	align-items: center;
	width: 100%;
	height: 100%;
}

.cart-item-body {
	align-items: center;
	width: 100%;
	height: 100%;
}

.cart-item-price-row {
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0.125rem 0.75rem 0.125rem;
}

.quantity-control {
	flex-basis: 38%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.25rem 0;
}

.cart-item-price {
	flex-basis: 59%;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0.25rem 0;
	font-weight: 600;
	text-align: right;
}
