.workshop-article {
	flex-basis: 64%;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0.25rem 0;
}

.workshop-article-body {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0.25rem;
}

.workshop-article-metadata {
	align-items: center;
	width: 100%;
	padding: 0.25rem;
	font-size: 1.125rem;
	font-weight: 700;
}

.category-article-icon {
	border: 0.0625rem solid #1d1d18;
	border-radius: 0.3125rem;
	background-color: #1d1d18;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0.25rem 0.5rem;
}

.category-article-icon img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.date-article-icon,
.time-article-icon {
	width: 2.5rem;
	height: 2.5rem;
	padding: 0.25rem;
}

.date-article-icon img,
.time-article-icon img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.workshop-article-title {
	align-items: center;
	width: 100%;
	padding: 0.25rem;
	font-size: 1.5rem;
	font-weight: 700;
	color: #0097cc;
}

.workshop-article-description {
	align-items: center;
	width: 100%;
	padding: 0.25rem;
	font-weight: 500;
}
